<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.mapper.HostLogsMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.pojo.HostLogs">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="eventId" column="event_id" jdbcType="INTEGER"/>
            <result property="mac" column="mac" jdbcType="VARCHAR"/>
            <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
            <result property="data" column="data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,event_id,mac,
        `timestamp`,data
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from host_logs
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="findAll" resultType="com.tpp.threat_perception_platform.pojo.HostLogs">
        select
        <include refid="Base_Column_List" />
        from host_logs
        <where>
            <if test="keywords != null and keywords != ''">
                and mac = #{keywords,jdbcType=VARCHAR}
            </if>
            <if test="start != null and start != ''">
                and `timestamp` &gt;= #{start,jdbcType=TIMESTAMP}
            </if>
            <if test="end != null and end != ''">
                and `timestamp` &lt;= #{end,jdbcType=TIMESTAMP}
            </if>
            <if test="extra != null and extra !=''">
                and event_id = #{extra,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from host_logs
    </select>
    <select id="selectAllByEventIds" resultType="com.tpp.threat_perception_platform.pojo.HostLogs">
        select
        <include refid="Base_Column_List" />
        from host_logs
        <where>
            <if test="param.keywords != null and param.keywords != ''">
                and mac = #{param.keywords,jdbcType=VARCHAR}
            </if>
            <if test="param.start != null and param.start != ''">
                and `timestamp` &gt;= #{param.start,jdbcType=TIMESTAMP}
            </if>
            <if test="param.end != null and param.end != ''">
                and `timestamp` &lt;= #{param.end,jdbcType=TIMESTAMP}
            </if>
            <if test="eventIds != null and eventIds.length > 0">
                and event_id in
                <foreach collection="eventIds" item="eventId" open="(" separator="," close=")">
                    #{eventId,jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from host_logs
        where  id = #{id,jdbcType=INTEGER} 
    </delete>

    <delete id="deleteByMac">
        delete from host_logs
        where  mac = #{mac,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.HostLogs" useGeneratedKeys="true">
        insert into host_logs
        ( id,event_id,mac
        ,`timestamp`,data)
        values (#{id,jdbcType=INTEGER},#{eventId,jdbcType=INTEGER},#{mac,jdbcType=VARCHAR}
        ,#{timestamp,jdbcType=TIMESTAMP},#{data,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.HostLogs" useGeneratedKeys="true">
        insert into host_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="eventId != null">event_id,</if>
                <if test="mac != null">mac,</if>
                <if test="timestamp != null">`timestamp`,</if>
                <if test="data != null">data,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="eventId != null">#{eventId,jdbcType=INTEGER},</if>
                <if test="mac != null">#{mac,jdbcType=VARCHAR},</if>
                <if test="timestamp != null">#{timestamp,jdbcType=TIMESTAMP},</if>
                <if test="data != null">#{data,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <insert id="insertBatch">
        insert into host_logs
        ( id,event_id,mac
        ,`timestamp`,data)
        values
        <foreach collection="hostLogsList" item="hostLogs" separator=",">
            ( #{hostLogs.id,jdbcType=INTEGER},#{hostLogs.eventId,jdbcType=INTEGER},#{hostLogs.mac,jdbcType=VARCHAR}
            ,#{hostLogs.timestamp,jdbcType=TIMESTAMP},#{hostLogs.data,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.pojo.HostLogs">
        update host_logs
        <set>
                <if test="eventId != null">
                    event_id = #{eventId,jdbcType=INTEGER},
                </if>
                <if test="mac != null">
                    mac = #{mac,jdbcType=VARCHAR},
                </if>
                <if test="timestamp != null">
                    `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
                </if>
                <if test="data != null">
                    data = #{data,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.pojo.HostLogs">
        update host_logs
        set 
            event_id =  #{eventId,jdbcType=INTEGER},
            mac =  #{mac,jdbcType=VARCHAR},
            `timestamp` =  #{timestamp,jdbcType=TIMESTAMP},
            data =  #{data,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
